<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            font-family: Helvetica, Arial, sans-serif;
        }

        .overlay {
            background-color: rgba(255, 255, 255, 0.8);
            padding: 50px;
            text-align: center;
        }

        .logo {
            max-width: 200px;
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <div class="overlay">
        <img src="https://static.vecteezy.com/system/resources/previews/014/927/965/original/sta-letter-logo-design-in-illustration-logo-calligraphy-designs-for-logo-poster-invitation-etc-vector.jpg" class="logo img-fluid" alt="Descripción de la imagen">
        <h1>Bienvenido a Nuestro Sitio Web</h1>
        <p>Tu plataforma para gestionar clientes, asignaciones, contratos y más.</p>
    </div>
</body>
</html>
