<!DOCTYPE html>
<html>
	<head>
		<style>
			body {
				font-family: Helvetica, Arial, sans-serif;
			}
			h2 {
				margin-top: 20px;
			}

			p {
				text-align: justify;
			}
		</style>
	</head>
	<body>

		<div class="container">

			<h2>Información que Recopilamos</h2>
			<p>Podemos recopilar información como tu nombre, dirección de correo electrónico y otros detalles relevantes cuando interactúas con nuestro sitio web.</p>

			<h2>Cómo Utilizamos tu Información</h2>
			<p>Utilizamos la información recopilada para proporcionar mejores servicios y mejorar la experiencia del usuario en nuestro sitio web.</p>

			<h2>Compartir tu Información</h2>
			<p>No compartimos tu información con terceros a menos que sea requerido por la ley.</p>

			<h2>Cookies y Seguimiento</h2>
			<p>Utilizamos cookies y tecnologías de seguimiento para analizar el comportamiento del usuario y mejorar nuestro sitio.</p>

			<h2>Tus Opciones</h2>
			<p>Puedes optar por desactivar las cookies a través de la configuración de tu navegador.</p>

			<h2>Enlaces a Terceros</h2>
			<p>Nuestro sitio web puede contener enlaces a sitios de terceros, pero no somos responsables de sus políticas de privacidad o prácticas.</p>

			<h2>Tus Derechos</h2>
			<p>Tienes derecho a acceder, corregir y eliminar la información personal que tenemos sobre ti. Ponte en contacto con nosotros para ejercer estos derechos.</p>

			<h2>Contacto</h2>
			<p>Si tienes alguna pregunta sobre nuestra política de privacidad, por favor contáctanos a privacy@sta.com.</p>

		</div>
	</body>
</html>
